{% extends "template.html" %}
{% block title %}About Us{% endblock title %}
{% block pageTitle %}About Us{% endblock pageTitle %}
{% block navLink %}about{% endblock navLink %}
{% block body %}
{{ super() }}
<!--Description of who we are-->
<h3 class="text-center">We are a group of passionate STEM-oriented students in the Unionville Chapter of Science in a
    Bag.</h3>

<!--Description of what we do and your jobs in creating kits.-->
<p class="mt-3">We are dedicated to creating science kits for kids to learn about the world around them. Our kits
    include
    everything needed for fun, educational experiments that can be done at home. We design each kit from concept to
    product
    with a focus on DIY and hands-on learning.</p>

<img src="https://www.uhssib.org/images/IMG_3376.jpg" alt="Image of the Team" class="w-50 mx-auto d-block rounded-3">

{% endblock body %}

{% block results %}
{{ super() }}
{% if data != None %}
<div id="data">
    {% if noResults %}
    <h3 class="text-center">No Results</h3>
    {% else %}
    <h3>Input</h3>
    <p>{{ data }}</p>
    {% endif %}
</div>
{% endif %}
{% endblock results %}

{% block footerClass %}fixed-bottom{% endblock footerClass %}