{% extends "template.html" %}
{% block title %}Home{% endblock title %}
{% block wholebody %}
<style>
  .hero {
    background-image: url(https://i.makeagif.com/media/12-04-2018/IxHq7M.gif);
    background-size: 100% 100%;
  }
</style>

<div class="p-5 text-center hero" style="height: 750px;">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="bg-dark pt-5 text-center rounded-3" style="--bs-bg-opacity: .75;">
      <h1 class="display-4 fw-bold">Science in a Bag</h1>
      <div class="mx-5">
        <p class="lead mb-4">Science in a Bag provides science kits for
          kids to learn and explore the world around them.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <a href="#content"><button type="button" class="btn btn-outline-primary btn-lg px-4 me-sm-3">Learn
              More</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- {{ super() }} -->
<div class="container my-3" id="content">
  <div class="mb-5 mt-3">
    <div class="row">
      <div class="col">
        <div class="col-sm-6 card h-100 w-100 mx-2">
          <div class="card-body d-flex flex-column">
            <h3 class="text-center mt-3">Our Mission</h3>
            <p class="card-text">Science in a Bag is a company that creates science kits for kids to
              learn about the world around them. Our kits include everything needed for fun, educational experiments
              that
              can
              be done at home. Our goal is to inspire a love of science in children and make learning fun!</p>
            <a href="#" class="btn mt-auto btn-outline-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col-sm-6 card h-100 w-100 mx-2">
          <div class="card-body d-flex flex-column">
            <h3 class="text-center mt-3">About Us</h3>
            <p class="card-text">
              We are the Unionville Chapter of Science in a Bag! We are a group of students who are passionate about
              science and want to share that passion with
              others. We believe that science should be accessible to everyone, and that learning should be fun!
            </p>
            <a href="/about" class="btn mt-auto btn-outline-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="mb-3">About Our Experiments</h3>
  <ul class="mb-4">
    <li>
      Find a wide variety of experiments that are fun and educational!
    </li>
    <li>
      Look at the full list of materials needed for
      each experiment!
    </li>
    <li>
      Check out our <a href="/experiments">experiments page</a> to see what we have to offer!
    </li>
  </ul>
  <h3 class="mb-3">Featured</h3>
  <div class="row mb-5">
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Experiment 1</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Et malesuada fames ac turpis.
          </p>
          <a href="#" class="btn mt-auto btn-outline-primary">Try it out!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Experiment 2</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Et malesuada fames ac turpis.
          </p>
          <a href="#" class="btn mt-auto btn-outline-primary">Try it out!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Experiment 3</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Et malesuada fames ac turpis.
          </p>
          <a href="#" class="btn mt-auto btn-outline-primary">Try it out!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Experiment 4</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Et malesuada fames ac turpis.
          </p>
          <a href="#" class="btn mt-auto btn-outline-primary">Try it out!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Experiment 5</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Et malesuada fames ac turpis.
          </p>
          <a href="#" class="btn mt-auto btn-outline-primary">Try it out!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">All Experiments</h5>
          <p class="card-text">
            Take a look at all of our exciting experiments!
          </p>
          <a href="#" class="btn mt-auto btn-outline-primary">Explore All!</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock wholebody %}